/* Estilos generales para el cuerpo */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

/* Estilos para el contenedor de la lista de tareas */
#myDIV {
  background: #3498db;
  padding: 20px;
  text-align: center;
}

/* Estilos para el título */
#myDIV h2 {
  margin: 0;
  color: white;
}

/* Estilos para el input */
input[type="text"] {
  width: 75%;
  padding: 10px;
  margin: 0;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilos para el botón de añadir */
.addBtn {
  padding: 10px 20px;
  color: white;
  background-color: #555;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.addBtn:hover {
  background-color: #000;
}

/* Estilos para la lista desordenada */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Estilos para los elementos de la lista */
ul li {
  padding: 12px;
  background: #eee;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para los elementos completados */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Estilos para los botones de cierre */
.close {
  padding: 10px;
  color: white;
  background-color: #ff6347;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
}

.close:hover {
  background-color: #e60000;
}
